.nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16161a;
    filter: contrast(1.1);
    height: 60px;
    box-shadow: 1px 1px 1px #16161a;
    z-index: 1;

    & button {
        min-width: 120px;
        height: 35px;
        background-color: transparent;
        color: wheat;
        outline: 0;
        border: 2px solid currentColor;
        border-radius: 7px;
        transition: color 0.3s ease;
        cursor: pointer;
        font-size: 22px;
        font-weight: 700;

        &:hover {
            color: cornflowerblue;
        }

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    & .bridge {
        position: absolute;
        top: 13px;
        left: 15px;
    }
}
